body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient( to right, tomato, peru);
    background-size: cover;
    background-repeat: no-repeat;
}

.calculator {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    grid-row-gap: 5px;
    grid-column-gap: 5px;
}

.span-2 {
    grid-column: span 2;
}

.output {
    display: flex;
    grid-column: span 4;
    background-color: rgba(0, 0, 0, 0.8);
    flex-direction: column;
    justify-content: space-evenly;
    padding: 4px;
    font-family: 'Acme', sans-serif;
}

.text-align-right {
    text-align: right;
}

#secondary-output {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.5rem;
}

#primary-output {
    color: white;
    font-size: 2.5rem;
}

.calculator > button {
    background-color: rgba(255, 255, 255, 0.5);
    border: 0;
    cursor: pointer;
    font-size: 2rem;
    outline: 0px;
    font-family: 'Acme', sans-serif;
}

.calculator > button:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

@media only screen and ( max-width : 425px) {
    .calculator {
        grid-row-gap: 1px !important;
        grid-column-gap: 1px;
        grid-template-columns: repeat(4, 25vw);
        grid-template-rows: minmax(30vw, auto) repeat(5, 25vw);
    }

    .calculator > * {
        border: 2px solid black;
    }
}